<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Know your Neighborhood like local</title>
    <!-- CSS -->
    <!--<link rel="icon" href="styles/bootstrap-3.3.5/docs/favicon.ico">-->
    <link href="styles/bootstrap-3.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/style.css" rel="stylesheet">
  </head>
  <body ng-app="Myapp">
    <!-- begin template -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand">Know Your Neighborhood Like Local Do</a>
        </div>
        <div id="navbar" class="navbar-collapse">
            <div ng-controller="yelpCaController">
                <select name="singleSelect" id="singleSelect" ng-model ="newSelect" ng-change="yelpselectCa(newSelect)">
                  <option value="">---Please select---</option>
                  <option value="{{data.Hotels}}">Hotels</option>
                  <option value="{{data.Food}}">Food</option>
                  <option value="{{data.Shopping}}">Shopping</option>
                  <option value="{{data.Buses}}">Buses</option>
                </select>
                <span id="select-ca" style="color:white">{{newSelect}}</span>
            </div>
            <form>
                <div ng-controller="yelpKeywordController" class="form-group" style="display:inline;">
                    <input type ="text" ng-model="newValue" id="keyword" placeholder="What you want?" class="form-control"/>
                    <button ng-click="setKeyword(newValue)">Search</button>
                    <span style="color:white">{{yelpKeyword.data}}</span>
                </div>
            </form>
                <a href="#signout" ng-click="signout()" class="logout">Sign Out</a>
        </div>
    </nav>

    <div id="map"></div>
    <div class="container-fluid" id="main">
        <div class="row">
            <div class="col-xs-4" id="left">
                <h3 id="list-header">Yelp Links</h3>
                <ul id="yelpElem"></ul>
            </div>
            <div class="col-xs-8"></div>
        </div>
    </div>
    <!-- end template -->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/oauth-signature/oauth-signature.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script async="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAv29-6fRPf118Uy6ETE2IMIJPfvEW34RM&amp;callback=initMap"></script>
    <script src="app/auth/auth.js"></script>
    <script src="app/services/services.js"></script>
    <script src="app/app.js"></script>
    <script src="app/js/Main.js"></script>
    <script src="app/yelp/yelp.js"></script>
  </body>
</html>
